<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div th:fragment="copy">
      <nav>
	    <div class="nav-wrapper">
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a href="/" >sair</a></li>
	      </ul>
	     
	       <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a href="/configuracoes" >configuracoes</a></li>
	      </ul>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a  href="/" >listagem</a></li>
	      </ul>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a  href="/" >calendario</a></li>
	      </ul>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a  href="/associar" >cadastrar</a></li>
	      </ul>
	      
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	         <li><a href="/home" >home</a></li>
	      </ul>
	    </div>
	  </nav> 
    </div>
  </body>
</html>