<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width = device-width, initial-scale = 1">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
</script>
</head>
<body>
	<div class="container">
		<form>
		 
		 <div th:insert="~{cabecalho :: copy}"></div>
		  <br>
		  <span class="card-title">Proximas aulas agendadas para hoje</span>
		  
		  <table class="highlight">
		        <thead>
		          <tr>
		              <th>Professor/Aluno</th>
		              <th>Idioma</th>
		              <th>Hora</th>
		              <th>Opcoes</th>
		          </tr>
		        </thead>
		
		        <tbody>
		          <tr>
		            <td>Alvin Maicon Fernandes</td>
		            <td><img src="/imagens/usa.png"/></td>
		            <td>13:30</td>
		            <td>
		            	<i class="tiny material-icons">check</i>
  						<i class="tiny material-icons">edit</i>
  						<i class="tiny material-icons">close</i>
  						<i class="tiny material-icons">errors</i>
		            </td>
		          </tr>
		          <tr>
		            <td>Alan Rodrigues</td>
		            <td><img src="/imagens/usa.png"/></td>
		            <td>17:00</td>
		            <td>
		            	<i class="tiny material-icons">check</i>
  						<i class="tiny material-icons">edit</i>
  						<i class="tiny material-icons">close</i>
  						<i class="tiny material-icons">errors</i>
		            </td>
		          </tr>
		          <tr>
		            <td>Jonathan Schmitt</td>
		            <td><img src="/imagens/usa.png"/></td>
		            <td>18:00</td>
		            <td>
  						<i class="tiny material-icons">check</i>
  						<i class="tiny material-icons">edit</i>
  						<i class="tiny material-icons">close</i>
  						<i class="tiny material-icons">errors</i>
            		</td>
		          </tr>
		        </tbody>
		      </table>
		
		</form>
		<script type="text/javascript" src="js/materialize.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
	</div>
</body>
</html>